{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["plugin:vue/essential", "@vue/airbnb"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "import/extensions": "off",
    "no-unused-vars": "off",
    "arrow-parens": "off",
    "comma-dangle": "off"
  }
}
